@model BookStore.Domain.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .book-details {
        display: flex;
        align-items: flex-start;
    }

        .book-details .book-image {
            flex: 0 0 30%; 
            margin-right: 20px; 
        }

            .book-details .book-image img {
                width: 80%;
                height: 80%; 
                object-fit: cover;
            }

        .book-details .book-info {
            flex: 1; 
        }

        .book-details dl {
            margin-top: 0;
        }

            .book-details dl dt {
                font-weight: bold;
                margin-top: 10px;
            }

            .book-details dl dd {
                margin-top: 10px;
            }
</style>

<h1>Details for @Model.Title</h1>

<div class="book-details mt-5">
    <div class="book-image">
        <img src="@Model.CoverImage" alt="@Model.Title">
    </div>
    <div class="book-info container">
        <h4>@Model.Title</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReleaseYear)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ISBN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Edition)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Edition)
            </dd>
            <dt class="col-sm-2">
                Genres
            </dt>
            <dd class="col-sm-10">
                @foreach (var genre in Model.Genres)
                {
                    <span>@genre.ToString()</span>
                    <br />
                }
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AuthorId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AuthorId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PublisherId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PublisherId)
            </dd>
        </dl>
    </div>
</div>

<div class="mt-5">
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back</a>
</div>