@model BookStore.Domain.Models.Book

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Details for @Model.Title</h1>

<div class="book-details mt-5">
    <div class="book-image">
        <img src="@Model.CoverImage" alt="@Model.Title">
    </div>
    <div class="book-info container">
        <h4>@Model.Title</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ReleaseYear)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReleaseYear)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ISBN)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ISBN)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Edition)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Edition)
            </dd>
            <dt class="col-sm-2">
                Genres
            </dt>
            <dd class="col-sm-10">
                @foreach (var genre in Model.Genres)
                {
                    <span>@genre.ToString()</span>
                    <br />
                }
            </dd>
            <dt class="col-sm-2">
                Author
            </dt>
            <dd class="col-sm-10">
                @Model.Author.Name @Model.Author.Surname
            </dd>
            <dt class="col-sm-2">
                Publisher
            </dt>
            <dd class="col-sm-10">
                @Model.Publisher.Name
            </dd>
        </dl>
    </div>
</div>

<div class="mt-5">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="text-decoration-none">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#0d6efd" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
        </svg>
    </a> |
    <a asp-action="Index">Back</a>
</div>

<style>
    .book-details {
        display: flex;
        align-items: flex-start;
    }

        .book-details .book-image {
            flex: 0 0 30%;
            margin-right: 20px;
        }

            .book-details .book-image img {
                width: 80%;
                height: 80%;
                object-fit: cover;
            }

        .book-details .book-info {
            flex: 1;
        }

        .book-details dl {
            margin-top: 0;
        }

            .book-details dl dt {
                font-weight: bold;
                margin-top: 10px;
            }

            .book-details dl dd {
                margin-top: 10px;
            }
</style>