@model List<BookStore.Domain.Models.Book>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@* <h1 class="text-center my-4">Books</h1> *@

<div class="container mt-4">
    @* <div class="mb-3 text-center">
        <a class="btn btn-primary" asp-controller="Book" asp-action="Create">Add New Book</a>
    </div> *@
    <div class="position-relative mb-5">
        <h1 class="text-center">Books</h1>
        <a class="btn btn-success position-absolute top-0 end-0" asp-controller="Book" asp-action="Create">Add New Book</a>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex justify-content-center">
                <div class="book-card">
                    <img class="card-img-top" src="@item.CoverImage" alt="@item.Title">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <div class="genres">
                            @foreach (var genre in item.Genres)
                            {
                                <span>@genre.ToString()</span>
                            }
                        </div>
                        <p class="mt-2 fw-bold text-secondary" style="font-size: 14px;">@item.Author?.Name @item.Author?.Surname</p>
                        <div class="price mt-2">@item.Price.ToString("C")</div>
                        @* <p class="mt-2 text-secondary" style="font-size: 14px;">Published by: @item.Publisher?.Name</p> *@
                    </div>
                    <div class="card-footer">
                        <a asp-controller="Book" asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#0dcaf0" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
                        </svg>
                        </a>
                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@item.Id" class="text-decoration-none me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#0d6efd" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                        </svg>
                    </a>
                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@item.Id" class="text-decoration-none me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#dc3545" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                        </svg>
                    </a> 
                    @*Add to shopping cart*@
                    @* <a asp-controller="Book" asp-action="AddToShoppingCart" asp-route-id="@item.Id" class="text-decoration-none me-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="#ffc107" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                              <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0"/>
                        </svg>
                    </a> *@
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .book-card {
        position: relative;
        width: 14rem;
        margin: 15px;
        text-align: left;
        background: none;
        transition: transform 0.2s;
    }

        /* .book-card:hover {
                transform: translateY(-10px);
            } */

    .book-card img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-bottom: 1px solid #ddd;
    }

    .book-card .card-body {
        padding: 10px;
    }

    .book-card .card-title {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 10px;
    }

    .book-card .genres {
        margin-top: 5px;
    }

    .book-card .genres span {
        display: inline-block;
        background: #6c757d;
        color: #fff;
        border-radius: 3px;
        padding: 2px 5px;
        margin-right: 5px;
        font-size: 0.8rem;
    }

    .book-card .price {
        font-size: 0.9rem;
        font-weight: bold;
        color: #28a745;
    }

    .book-card .card-footer {
        display: flex;
        justify-content: center;
        padding: 10px;
        background: none;
    }

    .book-card .card-footer a {
        text-decoration: none;
        color: #007bff;
        font-size: 0.9rem;
    }
</style>
